{
    "name": "Hoganjs",
    "version": "2.0.1",
    "compiler":"component",
    "author" : "guangyu.liang",
    "email" : "guangyu.liang@qunar.com",
    "description" : "Hoganjs适合国情的改进版",
    "repository" : "http://l-registry.fe.dev.cn6.qunar.com",
    "dependencies": {},
    "alias": {},
    "export": []
}
