{
    "compiler": "component",
    "name": "zepto",
    "version": "1.3.31",
    "dependencies": {},
    "alias": {},
    "export": [],
    "author": "xuan.li",
    "repository": "http://zeptojs.com",
    "email": "xuan.li@qunar.com",
    "description": "Zepto is a minimalist JavaScript library for modern browsers with a largely jQuery-compatible API.include modules zepto event ajax form ie detect fx fx_methods assets data deferred selector touch callbacks "
}